/* general */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  background: #0d0d0d;
  margin: 0;
  font-size: medium;
}

.main-style {
  /* % let the margin adjust to the portview*/
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 120px;
  /*display: flex;
  flex-direction: column;   figure out if cta should be inside flex or not*/ 
}

.main-style__carousel {
  display: flex;
}

/*footer-sites*/

.footer-sites__background-style,
.shop-sites__background-style,
.sign-in-or-reg-sites__background-style {
  background-repeat: repeat-y;
  background-size: cover;
}

.sign-in-or-reg-sites__background-pic-link {
  background-image: url("../images/by-the-sea.jpeg");
}

.footer-sites__background-pic-link {
  background-image: url("../images/film-projector.jpeg");
}

.shop-sites__background-pic-link {
  background-image: url("../images/on-the-road.jpeg");
}

/*font size note: ARE THEY TOO BIG? 
medium = 16px = body
todays film approx. 96 px= 600% TOO BIG???
h1 = categories = 300%
h2
h3 = info about film = 80%
*/

.todays-film__h1 {
  font-size: 500%;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

h1 {
  font-size: 300%;
  font-weight: bold;
}

h2 {
  font-size: 200%;
  font-weight: bold;
}

h3 {
  font-size: 80%;
}

/* h3 {
    font-family: acumin-pro, sans-serif;
} */ /* maybe will use it*/

/* nav */
.main-header {
  position: fixed;
  top: 0;
  background-color: #d9d9d9;
  border: solid #0d0d0d 1px;
  border-radius: 0% 0% 32px 0%;
  width: 100%; /* but change to 50% or less for nav before logging in*/
}

.main-header__logo {
  width: 165px;
  height: 78px;
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
}

.nav__panel {
  display: inline-block;
  text-align: right;
  /*width: calc(100% - 200px);*/
}

.nav__symbols-list {
 /* list-style: none;  its not necessary since padding is 0, but can be used just to be extra sure */
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}


/* icons in nav */

.material-symbols-outlined {
  /* icons */
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
  color: #0d0d0d;
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 2px;
  border-radius: 50%;
  border: solid #0d0d0d 1px;
  vertical-align: middle;
}

/* hack from: https://stackoverflow.com/questions/22786357/anchor-tag-is-larger-than-element-it-holds */
.material-symbols-outlined a {
  color: #0d0d0d;
  margin: 4px;
  display: block;
}

.material-symbols-outlined:hover {
  border: solid #0d0d0d 2px;
  border-radius: 50%;
}

.material-symbols-outlined__avatar {
  height: 54px;
  width: 54px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  vertical-align: middle;
}


.cta__avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: solid #0d0d0d 1px;
  display: inline-block;
  vertical-align: middle;
}

/* films' snapshots */
#todays-film__img {
  /* remember to fix scaling -> responsive image! */
  border: solid #d9d9d9 1px;
  border-radius: 0% 0% 12px 0%;
  margin-top: 0px;
  width: 1100px;
  height: 728px;
}

.film__carousel__continue-watching {
  border: solid #d9d9d9 1px;
  border-radius: 0% 0% 24px 0%;
  width: 432px;
  height: 286px;
}

.film__carousel__general {
  border: solid #d9d9d9 1px;
  border-radius: 0% 0% 24px 0%;
  width: 432px;
  height: 286px;
}

/* cta */
.cta {
  text-align: center;
  background-color: #0d0d0d;
  padding: 8px 16px;
  border: solid #d9d9d9 1px;
  border-radius: 4px;
  display: inline-block;
}

.cta:hover {
  text-align: center;
  background-color: #0d0d0d;
  padding: 8px 16px;
  border: solid #d9d9d9 2px;
  border-radius: 4px;
  display: inline-block;
}

.cta__sign-in-or-register {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 1px;
}

.cta__go-back {
}
.cta__confirm {
}
.cta__check-now {
}
.cta__continue {
}
.cta__call-now {
}
.cta__chat-now {
}
.cta__read-now {
}
.cta__go-to-my-films {
}

.cta__trash {
}
.cta__info {
}
.cta__basket {
}
.cta__fav {
}

/*links' decoration*/

a:link,
:visited {
  color: #ffffff;
  text-decoration: none;
}
