html,
body {
    height: 100vh;
}

:root {
    --grad1: 180deg, rgba(13, 13, 13, 0) 80%, #0D0D0D 100%;
    --grad2: 180deg, #000000, rgba(13, 13, 13, 0) 30%;
}


.pic-carousel__yellow-asia {
    background-image:
        linear-gradient(var(--grad1)),
        linear-gradient(var(--grad2)),
        url("../images/yellow-asia.jpeg");
}

.pic-carousel__3 {
    background-image:
        linear-gradient(var(--grad1)),
        linear-gradient(var(--grad2)),
        url("../images/3.jpeg");
}

.pic-carousel__home-alone {
    background-image:
        linear-gradient(var(--grad1)),
        linear-gradient(var(--grad2)),
        url("../images/home-alone.jpeg");
}

.pic-carousel__taking-photos {
    background-image:
        linear-gradient(var(--grad1)),
        linear-gradient(var(--grad2)),
        url("../images/taking-photos.jpeg");
}

.main-style {
    margin-top: 10rem;
}

.title__my-films {
    margin-bottom: 0.5rem;
    font-size: 3rem;
}


.title-pic {
    display: flex;
    flex-direction: column;
}

.title-pic-film-info-and-cta {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 40rem) {
    .title-pic-film-info-and-cta {
        flex-direction: column;
        height: 100vh;
    }

    .main-style {
        margin-top: 4rem;
    }

    /* .film-info p {
        margin-bottom: 6rem;
    } */
}

.main-style__myfilms__carousel-pic {
    display: flex;
    overflow: scroll;
    height: 18.75rem;
}

.main-style__myfilms__carousel-pic::-webkit-scrollbar {
    display: none;
}

.film__carousel__myfilms {
    border: solid #d9d9d9 1px;
    border-radius: 0% 0% 24px 0%;
    width: 25rem;
    height: 100%;
}

.myfilms__one-button {
    position: relative;
    top: 2rem;
}

@media (max-width: 40rem) {
    .main-style__myfilms__carousel-pic {
        height: 11.25rem;
    }

    .film__carousel__myfilms {
        width: 15rem;
    }

    .main-style__carousel {
        margin-top: 8rem;
    }

    /* .myfilms__one-button {
        position: absolute;
        bottom: 2rem;
    } */
}