.main-style {
    margin-top: 10rem;
}

.title__my-films {
    margin-bottom: 0.5rem;
    font-size: 3rem;
}


.title-pic {
    display: flex;
    flex-direction: column;
}

.title-pic-film-info-and-cta {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 40rem) {
    .title-pic-film-info-and-cta {
        flex-direction: column;
        height: 100vh;
    }

    .main-style {
        margin-top: 4rem;
    }

    /* .film-info p {
        margin-bottom: 6rem;
    } */
}